:root {
  --navbar-color: #1d3557;
  --navbar-font-color: #f1faee;
}

.nav-container {
  position: fixed;
  background: var(--navbar-color);
  min-height: 60px;
  width: 100%;
  z-index: 1;
  display: flex;
}

.navbar {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--navbar-font-color);
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
}
.logo a {
  text-decoration: none;
}

.logo h1 {
  padding: 9px 12px;
  color: var(--navbar-font-color);
}

.nav-links {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 20px;
}

.nav-item {
  list-style: none;
  margin-left: 5%;
}

.nav-links a {
  letter-spacing: 1px;
  color: var(--navbar-font-color);
  list-style: none;
  text-decoration: none;
  padding: 17px;
}

.logo h1:hover,
.nav-links a:hover,
.burger:hover {
  background-color: rgba(222, 222, 222, 0.2);
}

.burger div {
  background: var(--navbar-font-color);
  height: 2px;
  width: 30px;
  margin: 7px 0px;
  transition: all 0.5s;
}

.burger:hover {
  cursor: pointer;
}

.burger {
  position: absolute;
  right: 5%;
  padding: 13px 15px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1720px) {
  .navbar {
    width: 65%;
  }
}

@media screen and (max-width: 1440px) {
  .navbar {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navbar {
    width: 100%;
  }
  .logo {
    position: absolute;
    left: 5%;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: calc(100vh - 60px);
    top: 60px;
    min-width: min-content;
    width: 30%;
    background: var(--navbar-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
  }
  .nav-links li {
    margin: 2px 0px;
    min-height: 60px;
    height: 10vh;
    opacity: 0;
    width: 100%;
  }
  .nav-links a {
    font-size: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle-burger .line1 {
  transform: rotate(-45deg) translate(-5px, 7.5px);
}
.toggle-burger .line2 {
  opacity: 0;
}
.toggle-burger .line3 {
  transform: rotate(45deg) translate(-5px, -7.5px);
}
