* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container {
  position: relative;
  top: 60px;
  padding: 0 3%;
}

@media screen and (min-width: 1025px) {
  .container {
    width: 75%;
    margin: 0 auto;
    padding: 0 4%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 70%;
    margin: 0 auto;
    padding: 0 3%;
  }
}

@media screen and (min-width: 1720px) {
  .container {
    width: 65%;
    margin: 0 auto;
    padding: 0 3%;
  }
}
